<?xml version="1.0"?>
<launch>

  <!-- cob Base Control -->
  <rosparam file="$(find cob_controller_configuration_gazebo)/ros/controller/pr2_base_controller.yaml" command="load" />

  <!-- cob Odometry -->
  <rosparam file="$(find cob_controller_configuration_gazebo)/ros/controller/pr2_odometry.yaml" command="load" />

  <!-- Torso -->
  <rosparam file="$(find cob_controller_configuration_gazebo)/ros/controller/cob_torso_controller.yaml" command="load" />

  <!-- Tray -->
  <rosparam file="$(find cob_controller_configuration_gazebo)/ros/controller/cob_tray_controller.yaml" command="load" />

  <!-- Eyesbase -->
  <rosparam file="$(find cob_controller_configuration_gazebo)/ros/controller/cob_head_camera_tilt_controller.yaml" command="load" />

  <!-- Controllers that come up started -->
  <node name="cob_default_controllers_spawner"
        pkg="pr2_controller_manager" type="spawner" output="screen"
        args="--wait-for=/calibrated base_controller base_odometry torso_controller tray_controller head_camera_tilt_controller"/>
  
  <!-- Nodes on top of the controllers -->
  <group ns="torso_controller">
	<node name="torso_joint_trajectory_action_node" pkg="joint_trajectory_action" type="joint_trajectory_action">
          <remap from="/torso_controller/joint_trajectory_action/goal" to="/torso/JointTrajectory/goal"/>
        </node>
  </group>

  <group ns="tray_controller">
	<node name="tray_joint_trajectory_action_node" pkg="joint_trajectory_action" type="joint_trajectory_action" />
  </group>

</launch>
