<?xml version="1.0"?>
<launch>

	<!-- send cup to param server -->
	<param name="cb_9x6" textfile="$(find cob_gazebo_objects)/objects/cb_9x6.model" />

	<!-- spawn model in gazebo -->
	<node name="spawn_cb_9x6_box" pkg="gazebo" type="spawn_model" args="-gazebo -param cb_9x6 -x -.7 -y -0.1 -z 1 -R 1.56 -P 0 -Y 1.56 -model cb_9x6" respawn="false" output="screen" />

</launch>
