<?xml version="1.0"?>
<launch>

	<!-- send cup to param server -->
	<param name="milk" textfile="$(find cob_gazebo_objects)/objects/milk.model" />

	<!-- spawn model in gazebo -->
	<node name="spawn_milk_box" pkg="gazebo" type="spawn_model" args="-gazebo -param milk -x -2.95 -y 0.05 -z 1.05 -R 0 -P 0 -Y 1.5707963 -model milk" respawn="false" output="screen" />

</launch>
