<?xml version="1.0"?>
<launch>

	<arg name="robot_env" default="$(optenv ROBOT_ENV !!NO_ROBOT_ENV_SET!!)"/>

	<!-- send world urdf to param server -->
	<param name="world_description" command="$(find xacro)/xacro --inorder $(find cob_gazebo_worlds)/urdf/$(arg robot_env)/$(arg robot_env).urdf.xacro" />

	<node name="world_state_publisher" pkg="robot_state_publisher" type="state_publisher">
		<remap from="robot_description" to="world_description"/>
	</node>

	<node name="world_joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
		<remap from="robot_description" to="world_description"/>
	</node>

	<node pkg="tf2_ros" type="static_transform_publisher" name="world_tf_publisher" args="0 0 0 0 0 0 1 map world" />

</launch>
