<?xml version="1.0"?>
<launch>

	<!-- start gazebo world from .world file -->
	<!--include file="$(find cob_gazebo_worlds)/launch/world.launch" /-->

	<!-- OR -->

	<!-- start gazebo world from .urdf file -->
        <include file="$(find cob_gazebo_worlds)/launch/world_urdf.launch" >
                <arg name="robot_env" value="raw-exhibition"/>
        </include>
</launch>
