<?xml version="1.0" ?>
<robot name="my_object" static="true">
  <link name="base_link">
  <inertial>
    <mass value="1.0" />
    <origin xyz="0 0 0.0" />
    <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
  </inertial>
  <visual>
   <origin xyz="0 0 0.0" rpy="0 0 1.570796327" />
   <geometry>
     <mesh filename="package://cob_gazebo_objects/Media/models/picture_bodegon.dae"/>
   </geometry>
  </visual>
  <collision>
   <origin xyz="0 0 0" rpy="0 0 0" />
   <geometry>
     <box size="1.216 0.02 0.40" />
   </geometry>
  </collision>
  </link>


<gazebo>
	<static>true</static>
</gazebo>
</robot>

