<?xml version="1.0" ?>
<robot name="jodsalz">
  <link name="base_link">
  <inertial>
    <mass value="5.0" />
    <origin xyz="0 0 0.0" />
    <inertia  ixx="1.0" ixy="0.0"  ixz="0.0"  iyy="1.0"  iyz="0.0"  izz="1.0" />
  </inertial>
  <visual>
   <origin xyz="0 0 0.0" rpy="0 0 0" />
   <geometry>
     <mesh filename="package://cob_gazebo_objects/Media/models/salt.dae"/>
   </geometry>
  </visual>
  <collision>
   <origin xyz="0 0 0.072" rpy="0 0 0" />
   <geometry>
     <box size="0.061 0.046 0.144" />
     <!--mesh filename="package://cob_gazebo_objects/Media/models/jodsalz.dae"/-->>
   </geometry>
  </collision>
  </link>
<gazebo>
	<static>true</static>
</gazebo>
</robot>
