<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
        name="ipa-production-plant">

  <xacro:include filename="$(find cob_gazebo_worlds)/urdf/common.xacro" />
  <xacro:include filename="$(find cob_gazebo_worlds)/urdf/ipa-production-plant/ipa-production-plant.property.xacro" />
  
  <!-- walls -->
  <xacro:include filename="$(find cob_gazebo_worlds)/urdf/ipa-production-plant/walls.urdf.xacro" />

  <!-- sensors -->
  <xacro:include filename="$(find cob_gazebo_worlds)/urdf/ipa-production-plant/sensors.urdf.xacro" />


  <!-- world link -->
  <link name="world" />


  <xacro:walls name="sensors">
    </xacro:walls>

  <xacro:walls name="walls">
    </xacro:walls>

</robot>
