<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
        name="ipa-production-plant">

  <xacro:include filename="$(find cob_gazebo_worlds)/urdf/common.xacro" />
  <xacro:include filename="$(find cob_gazebo_worlds)/urdf/ipa-production-plant/ipa-production-plant.property.xacro" />
  
  <!-- walls -->
  <xacro:include filename="$(find cob_gazebo_worlds)/urdf/ipa-production-plant/walls.urdf.xacro" />

  <!-- warehouse -->
  <xacro:include filename="$(find cob_gazebo_worlds)/urdf/ipa-production-plant/warehouse.urdf.xacro" />

  <!-- machine-room -->
  <!-- <xacro:include filename="$(find cob_gazebo_worlds)/urdf/ipa-production-plant/machine-room.urdf.xacro" /> -->

  <!-- super-market -->
  <xacro:include filename="$(find cob_gazebo_worlds)/urdf/ipa-production-plant/super-market.urdf.xacro" />

  <!-- work-area -->
  <!-- <xacro:include filename="$(find cob_gazebo_worlds)/urdf/ipa-production-plant/work-area.urdf.xacro" /> -->

  <!-- sensors -->
  <xacro:include filename="$(find cob_description)/urdf/sensors/sick_s300_laser.urdf.xacro"/>


  <!--macros-->
  <xacro:macro name="object" params="object_num *mesh *origin">
    <joint name="joint_object_${object_num}" type="fixed">
       <insert_block name="origin"/>
       <parent link="world"/>
       <child link="object_${object_num}"/>
    </joint>
    <link name="object_${object_num}">
      <xacro:default_inertial/>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <insert_block name = "mesh"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <insert_block name = "mesh"/>
        </geometry>
      </collision>
    </link>
    <gazebo reference="object_${object_num}">
      <static>true</static>
    </gazebo>
    <gazebo reference="object_${object_num}">
      <turnGravityOff>false</turnGravityOff>
    </gazebo>
  </xacro:macro>



  <!-- world link -->
  <link name="world" />

  <!--world objects-->
  <link name="sensors_link" />
  
  <joint name="static_sensors_joint" type="fixed">
    <parent link="world"/>
    <child link="sensors_link"/>
  </joint>

  <xacro:sick_s300_laser_v0 name="static_laser_01" parent="sensors">
    <origin xyz="19.08 -1.50 0.1" rpy="0 0 3.14" />
    <gazebo>
      <static>true</static>
    </gazebo>
  </xacro:sick_s300_laser_v0>

  <xacro:sick_s300_laser_v0 name="static_laser_02" parent="sensors">
    <origin xyz="27.08 -1.50 0.1" rpy="0 0 3.14" />
    <gazebo>
      <static>true</static>
    </gazebo>
  </xacro:sick_s300_laser_v0>




  <xacro:work-area name="work-area">
    </xacro:work-area>

  <xacro:warehouse name="warehouse">
    </xacro:warehouse>

  <xacro:machine-room name="machine-room">
    </xacro:machine-room>

  <xacro:super-market name="super-market">
    </xacro:super-market>

  <xacro:walls name="walls">
    </xacro:walls>

</robot>
