<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find cob_description)/urdf/sensors/sick_s300_laser.urdf.xacro"/>

  <xacro:macro name="sensors" params="name">

    <!-- sensor link -->
    <link name="sensors_link" />
    
    <!-- connect links -->
    <joint name="static_sensors_joint" type="fixed">
      <parent link="world"/>
      <child link="sensors_link"/>
    </joint>

    <!-- Spawn Sensors -->  
    <xacro:sick_s300_laser_v0 name="static_laser_01" parent="sensors_link">
      <origin xyz="19.08 -1.50 0.1" rpy="0 0 3.14" />
    </xacro:sick_s300_laser_v0>

    <xacro:sick_s300_laser_v0 name="static_laser_02" parent="sensors_link">
      <origin xyz="27.08 -1.50 0.1" rpy="0 0 3.14" />
    </xacro:sick_s300_laser_v0>

  </xacro:macro>

</robot>
