<?xml version="1.0"?>
<launch>

	<arg name="robot" default="$(optenv ROBOT !!NO_ROBOT_SET!!)"/>

	<!-- send robot urdf to param server -->
	<include file="$(find cob_hardware_config)/common/upload_robot.launch" >
		<arg name="robot" value="$(arg robot)" />
	</include>

	<!-- push robot_description to factory and spawn robot in gazebo -->
	<node name="spawn_gazebo_model" pkg="gazebo" type="spawn_model" args="-ros_namespace /gazebo -unpause -urdf -param robot_description -model robot -z 0.1 " respawn="false" output="screen" />  

    <node name="cam3d_relay" pkg="topic_tools" type="relay" args="/cam3d/rgb/image_raw /cam3d/rgb/image_color" respawn="false" output="screen"/>
    <include file="$(find cob_cam3d_throttle)/launch/cam3d_throttle.launch" >
        <arg name="namespace" value="/cam3d" />
        <arg name="rate" value="1.0" />
        <arg name="start_manager" value="true"/>
        <arg name="nodelet_manager" value="cam3d_nodelet_manager"/>
    </include>

    <!-- start gazebo controllers -->
    <include file="$(find cob_controller_configuration_gazebo)/ros/launch/default_controllers_$(arg robot).launch" />
	
    <!-- services for simulation (e.g.: stop for simulation)-->
    <node pkg="cob_gazebo" type="gazebo_services.py" name="gazebo_services" cwd="node" respawn="false" output="screen" />

</launch>
