<?xml version="1.0"?>
<launch>

	<rosparam file="$(find cob_controller_configuration_gazebo)/ros/controller/arm_controller_$(env ROBOT).yaml" command="load"/>

	<node name="arm_controller_spawner" pkg="pr2_controller_manager" type="spawner" args="arm_controller" />

        <!-- start ik_solver for arm -->
        <node pkg="cob_manipulator" type="cob_ik_solver_kdl" name="cob_ik_solver" ns="arm_controller" cwd="node" respawn="false" output="screen"/>

        <!-- start cartesian interface -->
        <rosparam command="load" ns="arm_controller" file="$(find cob_arm)/ros/launch/$(env ROBOT).yaml"/>
        <node pkg="cob_manipulator" type="move_cart.py" name="move_cart" ns="arm_controller" cwd="node" respawn="false" output="screen"/>
        <!-- provides get_fk, get_ik_solver_info WITH limits -->
        <!-- remember to have safety controller in cob_description/../lbr.urdf.xacro -->
        <include file="$(find cob_manipulator)/ros/launch/cob3_arm_kinematics.launch" />
        <!--include file="$(find cob_arm_navigation)/launch/cob3_arm_navigation.launch" /-->

	<!-- gazebo test -->
	<include file="$(find cob_arm)/ros/launch/arm.test" />
	
	<group ns="arm_controller">
		<node name="arm_joint_trajectory_action_node" pkg="joint_trajectory_action" type="joint_trajectory_action" />
	</group>



</launch>

