<?xml version="1.0"?>
<launch>

  <!-- cob Base Control -->
  <rosparam file="$(find cob_controller_configuration_gazebo)/ros/controller/pr2_base_controller.yaml" command="load" />

  <!-- cob Odometry -->
  <rosparam file="$(find cob_controller_configuration_gazebo)/ros/controller/pr2_odometry.yaml" command="load" />

  <!-- scan filter -->
  <node pkg="cob_sick_s300" type="cob_scan_filter" name="scanner_front_filter" respawn="false" output="screen" >
    <remap from="scan" to="scan_front_raw"/>
    <remap from="scan_filtered" to="scan_front"/>
  </node>
  <node pkg="cob_sick_s300" type="cob_scan_filter" name="scanner_rear_filter" respawn="false" output="screen" >
    <remap from="scan" to="scan_rear_raw"/>
    <remap from="scan_filtered" to="scan_rear"/>
  </node>

  <!-- gazebo test -->
  <include file="$(find cob_base)/ros/launch/base.test"/>

  <!-- Controllers that come up started -->
  <node name="base_controllers_spawner"
        pkg="pr2_controller_manager" type="spawner" output="screen"
        args="base_controller base_odometry">
  	<remap from="/base_odometry/odom" to="/base_controller/odometry" />
  </node>
  
</launch>
