<?xml version="1.0"?>
<launch>

	<!-- controller_manager -->
	<include file="$(find cob_controller_configuration_gazebo)/ros/launch/controller_manager.launch" />

	<!-- Base -->
	<!--include file="$(find cob_controller_configuration_gazebo)/ros/launch/p2_base_controller.launch"/-->
	<include file="$(find cob_controller_configuration_gazebo)/ros/launch/base_v1_controller.launch"/>

	<!-- Tray -->
	<include file="$(find cob_controller_configuration_gazebo)/ros/launch/tray_controller.launch"/>

	<!-- Head -->
	<include file="$(find cob_controller_configuration_gazebo)/ros/launch/head_controller.launch"/>

	<!-- Arm -->
	<include file="$(find cob_controller_configuration_gazebo)/ros/launch/arm_controller.launch"/>

	<!-- SDH -->
	<include file="$(find cob_controller_configuration_gazebo)/ros/launch/sdh_controller.launch"/>

	<!-- additional gazebo test -->
	<include file="$(find cob_sick_s300)/ros/launch/front.test"/>
	<include file="$(find cob_sick_s300)/ros/launch/rear.test"/>
	<include file="$(find cob_hokuyo)/ros/launch/hokuyo.test"/> 


</launch>
