<?xml version="1.0"?>
<launch>

  <!-- gazebo velocity controllers -->
  <rosparam file="$(find cob_controller_configuration_gazebo)/ros/controller/base_velocity_controller.yaml" command="load" />
  <node pkg="pr2_controller_manager" type="spawner" args="base_fr_caster_rotation_controller base_fl_caster_rotation_controller base_br_caster_rotation_controller base_bl_caster_rotation_controller base_fr_caster_r_wheel_controller base_fl_caster_r_wheel_controller base_br_caster_r_wheel_controller base_bl_caster_r_wheel_controller" name="base_controller_spawner"/>

  <!-- cob Odometry -->
  <!--rosparam file="$(find cob_controller_configuration_gazebo)/ros/controller/pr2_odometry.yaml" command="load" /-->

  <!-- cob base controller -->
  <include file="$(find cob_base)/ros/launch/base.launch">
    <arg name="sim" value="true"/>
  </include>

  <!-- scan filters -->
  <node pkg="cob_sick_s300" type="cob_scan_filter" name="scanner_front_filter" respawn="false" output="screen" >
    <remap from="scan" to="scan_front_raw"/>
    <remap from="scan_filtered" to="scan_front"/>
  </node>
  <node pkg="cob_sick_s300" type="cob_scan_filter" name="scanner_rear_filter" respawn="false" output="screen" >
    <remap from="scan" to="scan_rear_raw"/>
    <remap from="scan_filtered" to="scan_rear"/>
  </node>

</launch>
