<?xml version="1.0"?>
<launch>

	<!-- controller_manager -->
	<include file="$(find cob_controller_configuration_gazebo)/ros/launch/controller_manager.launch" />

	<!-- Base -->
	<!--include file="$(find cob_controller_configuration_gazebo)/ros/launch/p2_base_controller.launch"/-->
	<include file="$(find cob_controller_configuration_gazebo)/ros/launch/base_v1_controller.launch"/>
	<include file="$(find cob_relayboard)/ros/launch/relayboard_sim.launch"/>

	<!-- Tray -->
	<include file="$(find cob_controller_configuration_gazebo)/ros/launch/tray_controller.launch"/>

	<!-- Head -->
	<include file="$(find cob_controller_configuration_gazebo)/ros/launch/head_controller.launch"/>

	<!-- Arm -->
	<include file="$(find cob_controller_configuration_gazebo)/ros/launch/arm_controller.launch"/>

	<!-- SDH -->
	<include file="$(find cob_controller_configuration_gazebo)/ros/launch/sdh_controller.launch"/>

	<!-- scan filters-->
	<node pkg="cob_sick_s300" type="cob_scan_filter" name="scanner_front_filter" respawn="false" output="screen" >
		<remap from="scanner_front_filter/scan" to="/scan_front_raw"/>
		<remap from="scanner_front_filter/scan_filtered" to="/scan_front"/>
	</node>
	<node pkg="cob_sick_s300" type="cob_scan_filter" name="scanner_rear_filter" respawn="false" output="screen" >
		<remap from="scanner_rear_filter/scan" to="/scan_rear_raw"/>
		<remap from="scanner_rear_filter/scan_filtered" to="/scan_rear"/>
	</node>
	
	

</launch>
