<?xml version="1.0"?>
<launch>

	<rosparam file="$(find cob_controller_configuration_gazebo)/ros/controller/head_controller_$(env ROBOT).yaml" command="load" />

	<node name="head_controller_spawner" pkg="pr2_controller_manager" type="spawner" args="head_controller"/>

	<group ns="head_controller">
		<node name="head_joint_trajectory_action_node" pkg="joint_trajectory_action" type="joint_trajectory_action" />
	</group>
	
	<!-- image_proc for cameras-->
	<node ns="/stereo/left" pkg="image_proc" type="image_proc" respawn="false" name="prosilica_image_proc" />
	<node ns="/stereo/right" pkg="image_proc" type="image_proc" respawn="false" name="prosilica_image_proc" />

</launch>
