<?xml version="1.0"?>
<launch>

    <rosparam file="$(find cob_controller_configuration_gazebo)/ros/controller/sdh_controller.yaml" command="load" />

	<node name="sdh_controller_spawner" pkg="pr2_controller_manager" type="spawner" args="sdh_controller" />
	
    <group ns="sdh_controller">
		<node name="sdh_joint_trajectory_action_node" pkg="joint_trajectory_action" type="joint_trajectory_action" />
    </group>

</launch>
