<?xml version="1.0"?>
<launch>

	<rosparam file="$(find cob_controller_configuration_gazebo)/ros/controller/torso_v1_controller.yaml" command="load" />

	<node name="torso_controllers_spawner" pkg="pr2_controller_manager" type="spawner" args="torso_controller" />

	<!-- gazebo test -->
	<include file="$(find cob_torso)/ros/launch/torso.test"/> 

	<group ns="torso_controller">
		<node name="torso_joint_trajectory_action_node" pkg="joint_trajectory_action" type="joint_trajectory_action" />
	</group>

</launch>
