<?xml version="1.0"?>
<launch>

	<node pkg="rostopic" type="rostopic" name="reference_platform_neckZ" args="pub /controller_platform_neckZ/command std_msgs/Float64 0.4" />
	<node pkg="rostopic" type="rostopic" name="reference_neckZ_neck" args="pub /controller_neckZ_neck/command std_msgs/Float64 0" />
	<node pkg="rostopic" type="rostopic" name="reference_neck_headZ" args="pub /controller_neck_headZ/command std_msgs/Float64 0.2" />
	<node pkg="rostopic" type="rostopic" name="reference_headZ_head" args="pub /controller_headZ_head/command std_msgs/Float64 0.2"/>
	<node pkg="rostopic" type="rostopic" name="reference_head_eyes" args="pub /controller_head_eyes/command std_msgs/Float64 0" />

</launch>
