<?xml version="1.0"?>
<launch>

	<node pkg="rostopic" type="rostopic" name="reference_finger11_finger12" args="pub /controller_finger11_finger12/command std_msgs/Float64 0" />
	<node pkg="rostopic" type="rostopic" name="reference_finger12_finger13" args="pub /controller_finger12_finger13/command std_msgs/Float64 0" />
	<node pkg="rostopic" type="rostopic" name="reference_finger21_finger22" args="pub /controller_finger21_finger22/command std_msgs/Float64 0"/>
	<node pkg="rostopic" type="rostopic" name="reference_finger22_finger23" args="pub /controller_finger22_finger23/command std_msgs/Float64 0"/>
	<node pkg="rostopic" type="rostopic" name="reference_thumb1_thumb2" args="pub /controller_thumb1_thumb2/command std_msgs/Float64 0"/>
	<node pkg="rostopic" type="rostopic" name="reference_thumb2_thumb3" args="pub /controller_thumb2_thumb3/command std_msgs/Float64 0"/>

</launch>
