<?xml version="1.0"?>
<robot>

	<material name="Blue">
		<color rgba="0.0 0.0 0.8 1.0"/>
	</material>

	<material name="Green">
		<color rgba="0.0 0.8 0.0 1.0"/>
	</material>

	<material name="Grey">
		<color rgba="0.7 0.7 0.7 1.0"/>
	</material>

	<material name="Grey2">
		<color rgba="0.81 0.81 0.81 1.0"/>
	</material>

	<material name="Red">
		<color rgba="0.8 0.0 0.0 1.0"/>
	</material>

	<material name="White">
		<color rgba="1.0 1.0 1.0 1.0"/>
	</material>

	<material name="IPA/Black">
		<color rgba="0.0 0.0 0.0 1.0"/>
	</material>

    <material name="Transparent">
        <color rgba="0.81 0.81 0.81 0.0"/>
    </material>

    <material name="LightBlue">
           <color rgba="0.624 0.698 0.858 1"/>
    </material>


</robot>
