<?xml version="1.0"?>

<model>
  <name>ipa-factory</name>
  <version>1.0</version>
  <sdf version="1.3">model-ipa-factory.sdf</sdf>

  <author>
    <name>FelixMessmer</name>
    <email>messmer@ipa.fhg.de</email>
  </author>

  <description>
    A model of the lab in Industriestr 25
  </description>
</model>
