<?xml version="1.0"?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       name="ipa-kitchen" >

  <property name="M_PI" value="3.1415926535897931" />

<xacro:macro name="ipa-kitchen" params="name">
  <link name="dummy_link">
    <inertial>
      <origin xyz="0 0 -10" /> 
      <mass value="100000.0" />
      <inertia  ixx="100.0" ixy="0.0"  ixz="0.0"  iyy="100.0"  iyz="0.0"  izz="100.0" />
    </inertial>
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.01 0.01 0.01" />
      </geometry>
    </collision>
  </link>
  
<!-- wall -->  
  <link name="wall_1">
    <inertial>
      <origin xyz="0 0 0" /> 
      <mass value="1.0" />
      <inertia  ixx="1.0" ixy="0.0"  ixz="0.0"  iyy="100.0"  iyz="0.0"  izz="1.0" />
    </inertial>
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="7 .02 0.5" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="7 .02 0.5" />
      </geometry>
    </collision>
  </link>
  
  <gazebo reference="wall_1">
    <material>Gazebo/Green</material>
  </gazebo>
  <joint name="joint_wall_1" type="fixed">
    <origin xyz="0 -2.36 0.25" rpy="0 0 0"/>
    <parent link="dummy_link"/>
    <child link="wall_1"/>
 </joint>
  
  <link name="wall_2">
    <inertial>
      <origin xyz="0 0 0" /> 
      <mass value="1.0" />
      <inertia  ixx="1.0" ixy="0.0"  ixz="0.0"  iyy="100.0"  iyz="0.0"  izz="1.0" />
    </inertial>
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="2.5 0.058 3" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="2.5 0.058 3" />
      </geometry>
    </collision>
  </link>
  <gazebo reference="wall_2">
    <material>Gazebo/Green</material>
  </gazebo>
   <joint name="joint_wall_2" type="fixed">
    <origin xyz="-2.25 2.36 1.5" rpy="0 0 0"/>
    <parent link="dummy_link"/>
    <child link="wall_2"/>
 </joint>
 
 <link name="wall_3">
    <inertial>
      <origin xyz="0 0 0" /> 
      <mass value="1.0" />
      <inertia  ixx="1.0" ixy="0.0"  ixz="0.0"  iyy="100.0"  iyz="0.0"  izz="1.0" />
    </inertial>
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.16 0.058 2.5" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.16 0.058 2.5" />
      </geometry>
    </collision>
  </link>
  <gazebo reference="wall_3">
    <material>Gazebo/Green</material>
  </gazebo>
   <joint name="joint_wall_3" type="fixed">
    <origin xyz="-0.08 2.36 1.25" rpy="0 0 0"/>
    <parent link="dummy_link"/>
    <child link="wall_3"/>
 </joint>
 
  <link name="wall_4">
    <inertial>
      <origin xyz="0 0 0" /> 
      <mass value="1.0" />
      <inertia  ixx="1.0" ixy="0.0"  ixz="0.0"  iyy="100.0"  iyz="0.0"  izz="1.0" />
    </inertial>
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.058 0.66 2.5" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.058 0.66 2.5" />
      </geometry>
    </collision>
  </link>
  <gazebo reference="wall_4">
    <material>Gazebo/Green</material>
  </gazebo>
   <joint name="joint_wall_4" type="fixed">
    <origin xyz="0 2.03 1.25" rpy="0 0 0"/>
    <parent link="dummy_link"/>
    <child link="wall_4"/>
 </joint>
 
 <link name="wall_5">
    <inertial>
      <origin xyz="0 0 0" /> 
      <mass value="1.0" />
      <inertia  ixx="1.0" ixy="0.0"  ixz="0.0"  iyy="100.0"  iyz="0.0"  izz="1.0" />
    </inertial>
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.75 0.058 2.5" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.75 0.058 2.5" />
      </geometry>
    </collision>
  </link>
  <gazebo reference="wall_5">
    <material>Gazebo/Green</material>
  </gazebo>
   <joint name="joint_wall_5" type="fixed">
    <origin xyz="0.875 1.7 1.25" rpy="0 0 0"/>
    <parent link="dummy_link"/>
    <child link="wall_5"/>
 </joint>
 
 <link name="wall_6">
    <inertial>
      <origin xyz="0 0 0" /> 
      <mass value="1.0" />
      <inertia  ixx="1.0" ixy="0.0"  ixz="0.0"  iyy="100.0"  iyz="0.0"  izz="1.0" />
    </inertial>
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.058 0.66 2.5" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.058 0.66 2.5" />
      </geometry>
    </collision>
  </link>
  <gazebo reference="wall_6">
    <material>Gazebo/Green</material>
  </gazebo>
   <joint name="joint_wall_6" type="fixed">
    <origin xyz="1.75 1.37 1.25" rpy="0 0 0"/>
    <parent link="dummy_link"/>
    <child link="wall_6"/>
 </joint>
 
  <link name="wall_7">
    <inertial>
      <origin xyz="0 0 0" /> 
      <mass value="1.0" />
      <inertia  ixx="1.0" ixy="0.0"  ixz="0.0"  iyy="100.0"  iyz="0.0"  izz="1.0" />
    </inertial>
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.75 0.058 2.5" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.75 0.058 2.5" />
      </geometry>
    </collision>
  </link>
  <gazebo reference="wall_7">
    <material>Gazebo/Green</material>
  </gazebo>
   <joint name="joint_wall_7" type="fixed">
    <origin xyz="2.625 1.04 1.25" rpy="0 0 0"/>
    <parent link="dummy_link"/>
    <child link="wall_7"/>
 </joint>
 
  <link name="wall_8">
    <inertial>
      <origin xyz="0 0 0" /> 
      <mass value="1.0" />
      <inertia  ixx="1.0" ixy="0.0"  ixz="0.0"  iyy="100.0"  iyz="0.0"  izz="1.0" />
    </inertial>
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.02 3.4 0.5" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.02 3.4 0.5" />
      </geometry>
    </collision>
  </link>
  <gazebo reference="wall_8">
    <material>Gazebo/Green</material>
  </gazebo>
   <joint name="joint_wall_8" type="fixed">
    <origin xyz="3.5 -0.66 0.25" rpy="0 0 0"/>
    <parent link="dummy_link"/>
    <child link="wall_8"/>
 </joint>
 
 <link name="wall_9">
    <inertial>
      <origin xyz="0 0 0" /> 
      <mass value="1.0" />
      <inertia  ixx="1.0" ixy="0.0"  ixz="0.0"  iyy="100.0"  iyz="0.0"  izz="1.0" />
    </inertial>
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.058 4.72 2.5" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.058 4.72 2.5" />
      </geometry>
    </collision>
  </link>
  <gazebo reference="wall_9">
    <material>Gazebo/Green</material>
  </gazebo>
   <joint name="joint_wall_9" type="fixed">
    <origin xyz="-3.5 0 1.25" rpy="0 0 0"/>
    <parent link="dummy_link"/>
    <child link="wall_9"/>
 </joint>
  
<!-- couch -->
 <link name="sofa">
    <inertial>
      <origin xyz="0 0 0" /> 
      <mass value="1.0" />
      <inertia  ixx="1.0" ixy="0.0"  ixz="0.0"  iyy="100.0"  iyz="0.0"  izz="1.0" />
    </inertial>
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.75 0.89 0.45" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.75 0.89 0.45" />
      </geometry>
    </collision>
  </link>
  <gazebo reference="sofa">
    <material>Gazebo/Red</material>
  </gazebo>
   <joint name="joint_sofa" type="fixed">
    <origin xyz="2.625 0.595 0.225" rpy="0 0 0"/>
    <parent link="dummy_link"/>
    <child link="sofa"/>
 </joint>
 

 

   <link name="kitchen_middle">
    <inertial>
      <origin xyz="0 0 0" /> 
      <mass value="1.0" />
      <inertia  ixx="1.0" ixy="0.0"  ixz="0.0"  iyy="100.0"  iyz="0.0"  izz="1.0" />
    </inertial>
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
		<mesh filename="package://cob_gazebo_worlds/Media/materials/textures/kitchen_middle.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.66 1.8 0.9" />
      </geometry>
    </collision>
  </link>

<!-- 
   <link name="freezer_right">
    <inertial>
      <origin xyz="0 0 0" /> 
      <mass value="1.0" />
      <inertia  ixx="1.0" ixy="0.0"  ixz="0.0"  iyy="100.0"  iyz="0.0"  izz="1.0" />
    </inertial>
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.6 0.01 1.4" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.6 0.01 1.4" />
      </geometry>
    </collision>
  </link>
  <gazebo reference="freezer_right">
    <material>Gazebo/Red</material>
  </gazebo>
   <joint name="joint_freezer_right" type="fixed">
    <origin xyz="-3.2 1.66 0.7" rpy="0 0 0"/>
    <parent link="dummy_link"/>
    <child link="freezer_right"/>
 </joint>
 -->
 
  <gazebo reference="kitchen_middle">
  </gazebo>
   <joint name="joint_kitchen_middle" type="fixed">
    <origin xyz="-3.141 0.111 0.45" rpy="0 0 0"/>
    <parent link="dummy_link"/>
    <child link="kitchen_middle"/>
 </joint>

  <link name="kitchen_left">

    <inertial>
      <origin xyz="0 0 0" /> 
      <mass value="1.0" />
      <inertia  ixx="1.0" ixy="0.0"  ixz="0.0"  iyy="100.0"  iyz="0.0"  izz="1.0" />
    </inertial>
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
		<mesh filename="package://cob_gazebo_worlds/Media/materials/textures/kitchen_left.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.66 0.62 1.44" />
      </geometry>
    </collision>
  </link>
  <gazebo reference="kitchen_left">
  </gazebo>
   <joint name="joint_kitchen_left" type="fixed">
    <origin xyz="-3.141 -1.099 0.72" rpy="0 0 0"/>
    <parent link="dummy_link"/>
    <child link="kitchen_left"/>
 </joint>
 
  <link name="freezer_top">
    <inertial>
      <origin xyz="0 0 0" /> 
      <mass value="1.0" />
      <inertia  ixx="1.0" ixy="0.0"  ixz="0.0"  iyy="100.0"  iyz="0.0"  izz="1.0" />
    </inertial>
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.6 0.6 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.6 0.6 0.01" />
      </geometry>
    </collision>
  </link>
  <gazebo reference="freezer_top">
    <material>Gazebo/Red</material>
  </gazebo>
   <joint name="joint_freezer_top" type="fixed">
    <origin xyz="-3.2 1.36 1.4" rpy="0 0 0"/>
    <parent link="dummy_link"/>
    <child link="freezer_top"/>
 </joint>
 
 
 
 
 
  <link name="picture_cob">
    <inertial>
      <origin xyz="0 0 0" /> 
      <mass value="1.0" />
      <inertia  ixx="1.0" ixy="0.0"  ixz="0.0"  iyy="100.0"  iyz="0.0"  izz="1.0" />
    </inertial>
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.02 0.45 0.553" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.02 0.45 0.553" />
      </geometry>
    </collision>
  </link>
  <gazebo reference="picture_cob">
    <material>IPA/Care-O-bot</material>
  </gazebo>
   <joint name="joint_picture_cob" type="fixed">
    <origin xyz="-3.45 0.19 1.35" rpy="0 0 0"/>
    <parent link="dummy_link"/>
    <child link="picture_cob"/>
 </joint>
 
  <link name="picture_fraunhofer">
    <inertial>
      <origin xyz="0 0 0" /> 
      <mass value="1.0" />
      <inertia  ixx="1.0" ixy="0.0"  ixz="0.0"  iyy="100.0"  iyz="0.0"  izz="1.0" />
    </inertial>
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.02 2.33 0.64" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.02 2.33 0.64" />
      </geometry>
    </collision>
  </link>
  <gazebo reference="picture_fraunhofer">
    <material>IPA/FraunhoferIPA</material>
  </gazebo>
   <joint name="joint_picture_fraunhofer" type="fixed">
    <origin xyz="-3.45 0.15 2.1" rpy="0 0 0"/>
    <parent link="dummy_link"/>
    <child link="picture_fraunhofer"/>
 </joint>
 
 <link name="picture_future">
    <inertial>
      <origin xyz="0 0 0" /> 
      <mass value="1.0" />
      <inertia  ixx="1.0" ixy="0.0"  ixz="0.0"  iyy="100.0"  iyz="0.0"  izz="1.0" />
    </inertial>
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.35 0.02 0.62" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.35 0.02 0.62" />
      </geometry>
    </collision>
  </link>
  <gazebo reference="picture_future">
    <material>IPA/Future</material>
  </gazebo>
   <joint name="joint_picture_future" type="fixed">
    <origin xyz="-2.0 2.31 2.5" rpy="0 0 0"/>
    <parent link="dummy_link"/>
    <child link="picture_future"/>
 </joint>
 
 <link name="picture_brics">
    <inertial>
      <origin xyz="0 0 0" /> 
      <mass value="1.0" />
      <inertia  ixx="1.0" ixy="0.0"  ixz="0.0"  iyy="100.0"  iyz="0.0"  izz="1.0" />
    </inertial>
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.418 0.02 0.245" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.418 0.02 0.245" />
      </geometry>
    </collision>
  </link>
  <gazebo reference="picture_brics">
    <material>IPA/Brics</material>
  </gazebo>
   <joint name="joint_picture_brics" type="fixed">
    <origin xyz="-3.1 2.31 2.69" rpy="0 0 0"/>
    <parent link="dummy_link"/>
    <child link="picture_brics"/>
 </joint> 
 
  <link name="comic">
    <inertial>
      <origin xyz="0 0 0" /> 
      <mass value="1.0" />
      <inertia  ixx="1.0" ixy="0.0"  ixz="0.0"  iyy="100.0"  iyz="0.0"  izz="1.0" />
    </inertial>
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.8 0.02 0.566" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.8 0.02 0.566" />
      </geometry>
    </collision>
  </link>
  <gazebo reference="comic">
    <material>IPA/Comic</material>
  </gazebo>
   <joint name="joint_comic" type="fixed">
    <origin xyz="2.6 0.99 1.8" rpy="0 0 0"/>
    <parent link="dummy_link"/>
    <child link="comic"/>
 </joint>
 
 <!-- Start simulated freezer door -->
    <link name="freezer_right">
    <inertial>
      <origin xyz="0 0 0" /> 
      <mass value="100.0" />
      <inertia  ixx="1.0" ixy="0.0"  ixz="0.0"  iyy="100.0"  iyz="0.0"  izz="1.0" />
    </inertial>
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.6 0.01 1.4" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.6 0.01 1.4" />
      </geometry>
    </collision>
  </link>
  <gazebo reference="freezer_right">
    <material>Gazebo/Red</material>
  </gazebo>
   <joint name="joint_freezer_right" type="fixed">
    <origin xyz="-3.2 1.66 0.7" rpy="0 0 0"/>
    <parent link="dummy_link"/>
    <child link="freezer_right"/>
 </joint>

  <gazebo reference="door_link">
    <latchJoint>handle_joint</latchJoint>
    <latchAngle>-1.57</latchAngle>
    <doorClosedAngle>0.0</doorClosedAngle>
    <latchKp>200.0</latchKp>
    <latchKd>0.0</latchKd>
    <latchFMax>1000.0</latchFMax>
  </gazebo>

  <joint name="door_joint" type="revolute" >
    <origin xyz="0.305 0 0.02" rpy="0 0 0" />
    <axis xyz="0 0 1" />
    <limit lower="${-M_PI}" upper="${M_PI}" effort="1000" velocity="10" />
    <safety_controller soft_lower_limit="${-M_PI+0.1}" soft_upper_limit="${M_PI-0.1}"
           k_position="100.0" k_velocity="10.0" />
    <dynamics damping="100" friction="0.0" />

    <parent link="freezer_right" />
    <child link="door_link" />
  </joint>
  <link name="door_link">
    <inertial >
      <mass value="30" />
      <origin xyz="0 0 0" /> 
      <inertia  ixx="1.0" ixy="0.0"  ixz="0.0"
                iyy="1.0" iyz="0.0"
                izz="3.0" />
    </inertial>
    <visual >
      <origin xyz="0 -0.305 0" rpy="0 0 ${M_PI}" />
      <geometry name="sholder_roll_mesh_file">
        <box size="0.01 0.59 1.36" />
      </geometry>
    </visual>
    <collision >
      <origin xyz="0 -0.305 0" rpy="0 0 ${M_PI}" />
      <geometry name="door_collision_geom">
        <box size="0.01 0.59 1.36" />
      </geometry>
    </collision>
  </link>
  <gazebo reference="door_link">
    <material>Gazebo/Yellow</material>
    <laserRetro>2000</laserRetro>
    <turnGravityOff>true</turnGravityOff>
    <selfCollide>false</selfCollide>
    <dampingFactor>0.01</dampingFactor>
  </gazebo>

   <link name="handle">
    <inertial>
      <origin xyz="0 0 0" /> 
      <mass value="1.0" />
      <inertia  ixx="1.0" ixy="0.0"  ixz="0.0"  iyy="100.0"  iyz="0.0"  izz="1.0" />
    </inertial>
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.08 0.01 0.3" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.08 0.01 0.3" />
      </geometry>
    </collision>
  </link>
  <gazebo reference="handle">
    <material>Gazebo/Blue</material>
  </gazebo>
   <joint name="joint_handle" type="fixed">
    <origin xyz="0.051 -0.55  0.0" rpy="0 0 0"/>
    <parent link="door_link"/>
    <child link="handle"/>
 </joint>



  <gazebo>
    <!-- gazebo_ros_p3d for position groundtruth -->
    <controller:gazebo_ros_p3d name="p3d_door_controller" plugin="libgazebo_ros_p3d.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>100.0</updateRate>
        <bodyName>door_link</bodyName>
        <topicName>door_pose</topicName>
        <frameName>/map</frameName>
        <interface:position name="p3d_door_position"/>
    </controller:gazebo_ros_p3d>

    <controller:gazebo_ros_controller_manager name="door_controller_manager" plugin="libgazebo_ros_controller_manager.so">
      <alwaysOn>true</alwaysOn>
      <updateRate>1000.0</updateRate>
      <robotParam>/world_description</robotParam>
      <robotNamespace>/world</robotNamespace>
      <interface:audio name="gazebo_ros_controller_manager_dummy_iface" />
    </controller:gazebo_ros_controller_manager>
  </gazebo>

  <!-- transmission mechanism controls -->
  <transmission type="pr2_mechanism_model/SimpleTransmission" name="door_trans">
    <actuator name="door_motor" />
    <joint name="door_joint" />
    <mechanicalReduction>100</mechanicalReduction>
  </transmission>

 
 
</xacro:macro>
  
  <xacro:ipa-kitchen name="ipa-kitchen"/>
  
</robot>
