<?xml version="1.0"?>

<robot
	xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
	xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
	xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
	xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
	name="ipa-kitchen"
>

<xacro:macro name="ipa-kitchen" params="name">


<!-- dummy_link -->
	<link name="dummy_link">
		<inertial>
			<origin xyz="0 0 0" />
			<mass value="5.0" />
			<inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="0.01 0.01 0.01" />
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="0.01 0.01 0.01" />
			</geometry>
		</collision>
	</link>


<!-- walls -->

	<!-- wall_00 -->
	<link name="wall_00">
		<inertial>
			<origin xyz="0 0 0" />
			<mass value="5.0" />
			<inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="2.75 0.06 0.50" />
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="2.77 0.08 0.52" />
			</geometry>
		</collision>
	</link>

	<gazebo reference="wall_00">
		<material>IPA/Wall2</material>
	</gazebo>

	<joint name="joint_wall_00" type="fixed">
		<origin xyz="-2.156 4.791 0.250" rpy="0 0 0" />
		<parent link="dummy_link" />
		<child link="wall_00" />
	</joint>

	<!-- wall_01 -->
	<link name="wall_01">
		<inertial>
			<origin xyz="0 0 0" />
			<mass value="5.0" />
			<inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="0.10 0.80 2.40" />
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="0.12 0.82 2.42" />
			</geometry>
		</collision>
	</link>

	<gazebo reference="wall_01">
		<material>IPA/Wall</material>
	</gazebo>

	<joint name="joint_wall_01" type="fixed">
		<origin xyz="-0.731 4.421 1.200" rpy="0 0 0" />
		<parent link="dummy_link" />
		<child link="wall_01" />
	</joint>

	<!-- wall_02 -->
	<link name="wall_02">
		<inertial>
			<origin xyz="0 0 0" />
			<mass value="5.0" />
			<inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="3.29 0.06 0.50" />
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="3.31 0.08 0.52" />
			</geometry>
		</collision>
	</link>

	<gazebo reference="wall_02">
		<material>IPA/Wall2</material>
	</gazebo>

	<joint name="joint_wall_02" type="fixed">
		<origin xyz="0.964 4.791 0.250" rpy="0 0 0" />
		<parent link="dummy_link" />
		<child link="wall_02" />
	</joint>

	<!-- wall_03 -->
	<link name="wall_03">
		<inertial>
			<origin xyz="0 0 0" />
			<mass value="5.0" />
			<inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="0.80 0.10 3.20" />
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="0.82 0.12 3.22" />
			</geometry>
		</collision>
	</link>

	<gazebo reference="wall_03">
		<material>IPA/Wall</material>
	</gazebo>

	<joint name="joint_wall_03" type="fixed">
		<origin xyz="3.009 4.771 1.600" rpy="0 0 0" />
		<parent link="dummy_link" />
		<child link="wall_03" />
	</joint>

	<!-- wall_04 -->
	<link name="wall_04">
		<inertial>
			<origin xyz="0 0 0" />
			<mass value="5.0" />
			<inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="0.06 6.80 0.50" />
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="0.08 6.82 0.52" />
			</geometry>
		</collision>
	</link>

	<gazebo reference="wall_04">
		<material>IPA/Wall2</material>
	</gazebo>

	<joint name="joint_wall_04" type="fixed">
		<origin xyz="3.379 1.321 0.250" rpy="0 0 0" />
		<parent link="dummy_link" />
		<child link="wall_04" />
	</joint>

	<!-- wall_05 -->
	<link name="wall_05">
		<inertial>
			<origin xyz="0 0 0" />
			<mass value="5.0" />
			<inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="0.80 0.10 3.20" />
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="0.82 0.12 3.22" />
			</geometry>
		</collision>
	</link>

	<gazebo reference="wall_05">
		<material>IPA/Wall</material>
	</gazebo>

	<joint name="joint_wall_05" type="fixed">
		<origin xyz="3.009 -2.129 1.600" rpy="0 0 0" />
		<parent link="dummy_link" />
		<child link="wall_05" />
	</joint>

	<!-- wall_06 -->
	<link name="wall_06">
		<inertial>
			<origin xyz="0 0 0" />
			<mass value="5.0" />
			<inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="6.14 0.06 0.50" />
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="6.16 0.08 0.52" />
			</geometry>
		</collision>
	</link>

	<gazebo reference="wall_06">
		<material>IPA/Wall2</material>
	</gazebo>

	<joint name="joint_wall_06" type="fixed">
		<origin xyz="-0.461 -2.149 0.250" rpy="0 0 0" />
		<parent link="dummy_link" />
		<child link="wall_06" />
	</joint>

	<!-- wall_07 -->
	<link name="wall_07">
		<inertial>
			<origin xyz="0 0 0" />
			<mass value="5.0" />
			<inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="0.06 7.00 2.60" />
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="0.08 7.02 2.62" />
			</geometry>
		</collision>
	</link>

	<gazebo reference="wall_07">
		<material>IPA/Wall</material>
	</gazebo>

	<joint name="joint_wall_07" type="fixed">
		<origin xyz="-3.561 1.321 1.300" rpy="0 0 0" />
		<parent link="dummy_link" />
		<child link="wall_07" />
	</joint>

	<!-- wall_08 -->
	<link name="wall_08">
		<inertial>
			<origin xyz="0 0 0" />
			<mass value="5.0" />
			<inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="1.69 0.06 2.06" />
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="1.71 0.08 2.08" />
			</geometry>
		</collision>
	</link>

	<gazebo reference="wall_08">
		<material>IPA/Wall</material>
	</gazebo>

	<joint name="joint_wall_08" type="fixed">
		<origin xyz="-2.686 3.641 1.030" rpy="0 0 0" />
		<parent link="dummy_link" />
		<child link="wall_08" />
	</joint>

	<!-- wall_09 -->
	<link name="wall_09">
		<inertial>
			<origin xyz="0 0 0" />
			<mass value="5.0" />
			<inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="0.06 1.30 2.06" />
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="0.08 1.32 2.08" />
			</geometry>
		</collision>
	</link>

	<gazebo reference="wall_09">
		<material>IPA/Wall</material>
	</gazebo>

	<joint name="joint_wall_09" type="fixed">
		<origin xyz="-1.811 3.021 1.030" rpy="0 0 0" />
		<parent link="dummy_link" />
		<child link="wall_09" />
	</joint>

	<!-- wall_10 -->
	<link name="wall_10">
		<inertial>
			<origin xyz="0 0 0" />
			<mass value="5.0" />
			<inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="1.75 0.10 3.20" />
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="1.77 0.08 3.22" />
			</geometry>
		</collision>
	</link>

	<gazebo reference="wall_10">
		<material>IPA/Wall</material>
	</gazebo>

	<joint name="joint_wall_10" type="fixed">
		<origin xyz="-2.656 2.321 1.600" rpy="0 0 0" />
		<parent link="dummy_link" />
		<child link="wall_10" />
	</joint>

	<!-- wall_11 -->
	<link name="wall_11">
		<inertial>
			<origin xyz="0 0 0" />
			<mass value="5.0" />
			<inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="0.75 0.06 2.60" />
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="0.77 0.08 2.62" />
			</geometry>
		</collision>
	</link>

	<gazebo reference="wall_11">
		<material>IPA/Wall</material>
	</gazebo>

	<joint name="joint_wall_11" type="fixed">
		<origin xyz="-1.406 2.301 1.300" rpy="0 0 0" />
		<parent link="dummy_link" />
		<child link="wall_11" />
	</joint>

	<!-- wall_12 -->
	<link name="wall_12">
		<inertial>
			<origin xyz="0 0 0" />
			<mass value="5.0" />
			<inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="0.85 0.06 0.55" />
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="0.87 0.08 0.57" />
			</geometry>
		</collision>
	</link>

	<gazebo reference="wall_12">
		<material>IPA/Wall</material>
	</gazebo>

	<joint name="joint_wall_12" type="fixed">
		<origin xyz="-0.606 2.301 2.325" rpy="0 0 0" />
		<parent link="dummy_link" />
		<child link="wall_12" />
	</joint>

	<!-- wall_13 -->
	<link name="wall_13">
		<inertial>
			<origin xyz="0 0 0" />
			<mass value="5.0" />
			<inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="0.15 0.06 2.60" />
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="0.17 0.08 2.62" />
			</geometry>
		</collision>
	</link>

	<gazebo reference="wall_13">
		<material>IPA/Wall</material>
	</gazebo>

	<joint name="joint_wall_13" type="fixed">
		<origin xyz="-0.106 2.301 1.300" rpy="0 0 0" />
		<parent link="dummy_link" />
		<child link="wall_13" />
	</joint>

	<!-- wall_14 -->
	<link name="wall_14">
		<inertial>
			<origin xyz="0 0 0" />
			<mass value="5.0" />
			<inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="0.06 0.54 0.75" />
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="0.08 0.56 0.77" />
			</geometry>
		</collision>
	</link>

	<gazebo reference="wall_14">
		<material>IPA/Wall</material>
	</gazebo>

	<joint name="joint_wall_14" type="fixed">
		<origin xyz="-0.061 2.001 0.375" rpy="0 0 0" />
		<parent link="dummy_link" />
		<child link="wall_14" />
	</joint>

	<!-- wall_15 -->
	<link name="wall_15">
		<inertial>
			<origin xyz="0 0 0" />
			<mass value="5.0" />
			<inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="0.06 0.54 0.55" />
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="0.08 0.56 0.57" />
			</geometry>
		</collision>
	</link>

	<gazebo reference="wall_15">
		<material>IPA/Wall</material>
	</gazebo>

	<joint name="joint_wall_15" type="fixed">
		<origin xyz="-0.061 2.001 2.325" rpy="0 0 0" />
		<parent link="dummy_link" />
		<child link="wall_15" />
	</joint>

	<!-- wall_16 -->
	<link name="wall_16">
		<inertial>
			<origin xyz="0 0 0" />
			<mass value="5.0" />
			<inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="0.06 0.06 2.60" />
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="0.08 0.08 2.62" />
			</geometry>
		</collision>
	</link>

	<gazebo reference="wall_16">
		<material>IPA/Wall</material>
	</gazebo>

	<joint name="joint_wall_16" type="fixed">
		<origin xyz="-0.061 1.701 1.300" rpy="0 0 0" />
		<parent link="dummy_link" />
		<child link="wall_16" />
	</joint>

	<!-- wall_17 -->
	<link name="wall_17">
		<inertial>
			<origin xyz="0 0 0" />
			<mass value="5.0" />
			<inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="1.63 0.06 0.75" />
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="1.65 0.08 0.77" />
			</geometry>
		</collision>
	</link>

	<gazebo reference="wall_17">
		<material>IPA/Wall</material>
	</gazebo>

	<joint name="joint_wall_17" type="fixed">
		<origin xyz="0.784 1.701 0.375" rpy="0 0 0" />
		<parent link="dummy_link" />
		<child link="wall_17" />
	</joint>

	<!-- wall_18 -->
	<link name="wall_18">
		<inertial>
			<origin xyz="0 0 0" />
			<mass value="5.0" />
			<inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="1.63 0.06 0.55" />
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="1.65 0.08 0.57" />
			</geometry>
		</collision>
	</link>

	<gazebo reference="wall_18">
		<material>IPA/Wall</material>
	</gazebo>

	<joint name="joint_wall_18" type="fixed">
		<origin xyz="0.784 1.701 2.325" rpy="0 0 0" />
		<parent link="dummy_link" />
		<child link="wall_18" />
	</joint>

	<!-- wall_19 -->
	<link name="wall_19">
		<inertial>
			<origin xyz="0 0 0" />
			<mass value="5.0" />
			<inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="0.06 0.06 2.60" />
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="0.08 0.08 2.62" />
			</geometry>
		</collision>
	</link>

	<gazebo reference="wall_19">
		<material>IPA/Wall</material>
	</gazebo>

	<joint name="joint_wall_19" type="fixed">
		<origin xyz="1.629 1.701 1.300" rpy="0 0 0" />
		<parent link="dummy_link" />
		<child link="wall_19" />
	</joint>

	<!-- wall_20 -->
	<link name="wall_20">
		<inertial>
			<origin xyz="0 0 0" />
			<mass value="5.0" />
			<inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="0.06 0.54 0.75" />
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="0.08 0.56 0.77" />
			</geometry>
		</collision>
	</link>

	<gazebo reference="wall_20">
		<material>IPA/Wall</material>
	</gazebo>

	<joint name="joint_wall_20" type="fixed">
		<origin xyz="1.629 1.401 0.375" rpy="0 0 0" />
		<parent link="dummy_link" />
		<child link="wall_20" />
	</joint>

	<!-- wall_21 -->
	<link name="wall_21">
		<inertial>
			<origin xyz="0 0 0" />
			<mass value="5.0" />
			<inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="0.06 0.54 0.55" />
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="0.08 0.56 0.57" />
			</geometry>
		</collision>
	</link>

	<gazebo reference="wall_21">
		<material>IPA/Wall</material>
	</gazebo>

	<joint name="joint_wall_21" type="fixed">
		<origin xyz="1.629 1.401 2.325" rpy="0 0 0" />
		<parent link="dummy_link" />
		<child link="wall_21" />
	</joint>

	<!-- wall_22 -->
	<link name="wall_22">
		<inertial>
			<origin xyz="0 0 0" />
			<mass value="5.0" />
			<inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="0.06 0.06 2.60" />
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="0.08 0.08 2.62" />
			</geometry>
		</collision>
	</link>

	<gazebo reference="wall_22">
		<material>IPA/Wall</material>
	</gazebo>

	<joint name="joint_wall_22" type="fixed">
		<origin xyz="1.629 1.101 1.300" rpy="0 0 0" />
		<parent link="dummy_link" />
		<child link="wall_22" />
	</joint>

	<!-- wall_23 -->
	<link name="wall_23">
		<inertial>
			<origin xyz="0 0 0" />
			<mass value="5.0" />
			<inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="1.63 0.06 0.75" />
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="1.65 0.08 0.77" />
			</geometry>
		</collision>
	</link>

	<gazebo reference="wall_23">
		<material>IPA/Wall</material>
	</gazebo>

	<joint name="joint_wall_23" type="fixed">
		<origin xyz="2.474 1.101 0.375" rpy="0 0 0" />
		<parent link="dummy_link" />
		<child link="wall_23" />
	</joint>

	<!-- wall_24 -->
	<link name="wall_24">
		<inertial>
			<origin xyz="0 0 0" />
			<mass value="5.0" />
			<inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="1.63 0.06 0.55" />
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="1.65 0.08 0.57" />
			</geometry>
		</collision>
	</link>

	<gazebo reference="wall_24">
		<material>IPA/Wall</material>
	</gazebo>

	<joint name="joint_wall_24" type="fixed">
		<origin xyz="2.474 1.101 2.325" rpy="0 0 0" />
		<parent link="dummy_link" />
		<child link="wall_24" />
	</joint>

	<!-- wall_25 -->
	<link name="wall_25">
		<inertial>
			<origin xyz="0 0 0" />
			<mass value="5.0" />
			<inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="0.06 0.06 2.60" />
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="0.08 0.08 2.62" />
			</geometry>
		</collision>
	</link>

	<gazebo reference="wall_25">
		<material>IPA/Wall</material>
	</gazebo>

	<joint name="joint_wall_25" type="fixed">
		<origin xyz="3.319 1.101 1.300" rpy="0 0 0" />
		<parent link="dummy_link" />
		<child link="wall_25" />
	</joint>


<!-- kitchen -->

	<!-- kitchen_left -->
	<link name="kitchen_left">
		<inertial>
			<origin xyz="0 0 0" />
			<mass value="5.0" />
			<inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" />
			<geometry>
				<mesh filename="package://cob_gazebo_worlds/Media/materials/textures/kitchen_left.dae" />
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="0.66 0.62 1.44" />
			</geometry>
		</collision>
	</link>

	<gazebo reference="kitchen_left">
	</gazebo>

	<joint name="joint_kitchen_left" type="fixed">
		<origin xyz="-3.201 -1.155 0.720" rpy="0 0 0" />
		<parent link="dummy_link" />
		<child link="kitchen_left" />
	</joint>

	<!-- kitchen_middle -->
	<link name="kitchen_middle">
		<inertial>
			<origin xyz="0 0 0" />
			<mass value="5.0" />
			<inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" />
			<geometry>
				<mesh filename="package://cob_gazebo_worlds/Media/materials/textures/kitchen_middle.dae" />
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="0.66 1.80 0.90" />
			</geometry>
		</collision>
	</link>

	<gazebo reference="kitchen_middle">
	</gazebo>

	<joint name="joint_kitchen_middle" type="fixed">
		<origin xyz="-3.201 0.055 0.450" rpy="0 0 0" />
		<parent link="dummy_link" />
		<child link="kitchen_middle" />
	</joint>

	<!-- kitchen_right -->
	<link name="kitchen_right">
		<inertial>
			<origin xyz="0 0 0" />
			<mass value="5.0" />
			<inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" />
			<geometry>
				<mesh filename="package://cob_gazebo_worlds/Media/materials/textures/kitchen_right.dae" />
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="0.66 0.62 1.44" />
			</geometry>
		</collision>
	</link>

	<gazebo reference="kitchen_right">
	</gazebo>

	<joint name="joint_kitchen_right" type="fixed">
		<origin xyz="-3.201 1.265 0.720" rpy="0 0 0" />
		<parent link="dummy_link" />
		<child link="kitchen_right" />
	</joint>


<!-- couch -->

	<!-- left couch back -->
	<link name="left_couch_back">
		<inertial>
			<origin xyz="0 0 0" />
			<mass value="5.0" />
			<inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" />
			<geometry>
				<mesh filename="package://cob_gazebo_worlds/Media/materials/textures/couch_back.dae" />
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="0.90 0.28 0.60" />
			</geometry>
		</collision>
	</link>

	<gazebo reference="left_couch_back">
	</gazebo>

	<joint name="joint_left_couch_back" type="fixed">
		<origin xyz="1.999 0.931 0.300" rpy="0 0 0" />
		<parent link="dummy_link" />
		<child link="left_couch_back" />
	</joint>

	<!-- left couch side -->
	<link name="left_couch_side">
		<inertial>
			<origin xyz="0 0 0" />
			<mass value="5.0" />
			<inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" />
			<geometry>
				<mesh filename="package://cob_gazebo_worlds/Media/materials/textures/couch_left_side.dae" />
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="0.28 0.62 0.46" />
			</geometry>
		</collision>
	</link>

	<gazebo reference="left_couch_side">
	</gazebo>

	<joint name="joint_left_couch_side" type="fixed">
		<origin xyz="1.689 0.481 0.230" rpy="0 0 0" />
		<parent link="dummy_link" />
		<child link="left_couch_side" />
	</joint>

	<!-- left couch middle -->
	<link name="left_couch_middle">
		<inertial>
			<origin xyz="0 0 0" />
			<mass value="5.0" />
			<inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" />
			<geometry>
				<mesh filename="package://cob_gazebo_worlds/Media/materials/textures/couch_middle.dae" />
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="0.62 0.62 0.30" />
			</geometry>
		</collision>
	</link>

	<gazebo reference="left_couch_middle">
	</gazebo>

	<joint name="joint_left_couch_middle" type="fixed">
		<origin xyz="2.139 0.481 0.150" rpy="0 0 0" />
		<parent link="dummy_link" />
		<child link="left_couch_middle" />
	</joint>

	<!-- right couch back -->
	<link name="right_couch_back">
		<inertial>
			<origin xyz="0 0 0" />
			<mass value="5.0" />
			<inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" />
			<geometry>
				<mesh filename="package://cob_gazebo_worlds/Media/materials/textures/couch_back.dae" />
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="0.90 0.28 0.60" />
			</geometry>
		</collision>
	</link>

	<gazebo reference="right_couch_back">
	</gazebo>

	<joint name="joint_right_couch_back" type="fixed">
		<origin xyz="2.899 0.931 0.300" rpy="0 0 0" />
		<parent link="dummy_link" />
		<child link="right_couch_back" />
	</joint>

	<!-- right couch side -->
	<link name="right_couch_side">
		<inertial>
			<origin xyz="0 0 0" />
			<mass value="5.0" />
			<inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" />
			<geometry>
				<mesh filename="package://cob_gazebo_worlds/Media/materials/textures/couch_right_side.dae" />
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="0.28 0.62 0.46" />
			</geometry>
		</collision>
	</link>

	<gazebo reference="right_couch_side">
	</gazebo>

	<joint name="joint_right_couch_side" type="fixed">
		<origin xyz="3.209 0.481 0.230" rpy="0 0 0" />
		<parent link="dummy_link" />
		<child link="right_couch_side" />
	</joint>

	<!-- right couch middle -->
	<link name="right_couch_middle">
		<inertial>
			<origin xyz="0 0 0" />
			<mass value="5.0" />
			<inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" />
			<geometry>
				<mesh filename="package://cob_gazebo_worlds/Media/materials/textures/couch_middle.dae" />
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="0.62 0.62 0.30" />
			</geometry>
		</collision>
	</link>

	<gazebo reference="right_couch_middle">
	</gazebo>

	<joint name="joint_right_couch_middle" type="fixed">
		<origin xyz="2.759 0.481 0.150" rpy="0 0 0" />
		<parent link="dummy_link" />
		<child link="right_couch_middle" />
	</joint>

<!-- cabinet -->

	<!-- cabinet_top -->
	<link name="cabinet_top">
		<inertial>
			<origin xyz="0 0 0" />
			<mass value="5.0" />
			<inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="0.78 0.41 0.02" />
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="0.78 0.41 0.02" />
			</geometry>
		</collision>
	</link>

	<gazebo reference="cabinet_top">
		<material>IPA/Cabinet_Wood</material>
	</gazebo>

	<joint name="joint_cabinet_top" type="fixed">
		<origin xyz="1.159 1.416 0.850" rpy="0 0 0" />
		<parent link="dummy_link" />
		<child link="cabinet_top" />
	</joint>

	<!-- cabinet_middle1 -->
	<link name="cabinet_middle1">
		<inertial>
			<origin xyz="0 0 0" />
			<mass value="5.0" />
			<inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="0.62 0.37 0.01" />
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="0.62 0.37 0.01" />
			</geometry>
		</collision>
	</link>

	<gazebo reference="cabinet_middle1">
		<material>IPA/Cabinet_Wood</material>
	</gazebo>

	<joint name="joint_cabinet_middle1" type="fixed">
		<origin xyz="1.159 1.416 0.585" rpy="0 0 0" />
		<parent link="dummy_link" />
		<child link="cabinet_middle1" />
	</joint>

	<!-- cabinet_middle2 -->
	<link name="cabinet_middle2">
		<inertial>
			<origin xyz="0 0 0" />
			<mass value="5.0" />
			<inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="0.62 0.37 0.01" />
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="0.62 0.37 0.01" />
			</geometry>
		</collision>
	</link>

	<gazebo reference="cabinet_middle2">
		<material>IPA/Cabinet_Wood</material>
	</gazebo>

	<joint name="joint_cabinet_middle2" type="fixed">
		<origin xyz="1.159 1.416 0.375" rpy="0 0 0" />
		<parent link="dummy_link" />
		<child link="cabinet_middle2" />
	</joint>

	<!-- cabinet_bottom -->
	<link name="cabinet_bottom">
		<inertial>
			<origin xyz="0 0 0" />
			<mass value="5.0" />
			<inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="0.62 0.37 0.05" />
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="0.62 0.37 0.05" />
			</geometry>
		</collision>
	</link>

	<gazebo reference="cabinet_bottom">
		<material>IPA/Cabinet_Wood</material>
	</gazebo>

	<joint name="joint_cabinet_bottom" type="fixed">
		<origin xyz="1.159 1.416 0.175" rpy="0 0 0" />
		<parent link="dummy_link" />
		<child link="cabinet_bottom" />
	</joint>

	<!-- cabinet_back -->
	<link name="cabinet_back">
		<inertial>
			<origin xyz="0 0 0" />
			<mass value="5.0" />
			<inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="0.62 0.02 0.69" />
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="0.62 0.02 0.69" />
			</geometry>
		</collision>
	</link>

	<gazebo reference="cabinet_back">
		<material>Gazebo/Grey</material>
	</gazebo>

	<joint name="joint_cabinet_back" type="fixed">
		<origin xyz="1.159 1.611 0.495" rpy="0 0 0" />
		<parent link="dummy_link" />
		<child link="cabinet_back" />
	</joint>

	<!-- cabinet_right -->
	<link name="cabinet_right">
		<inertial>
			<origin xyz="0 0 0" />
			<mass value="5.0" />
			<inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="0.02 0.29 0.69" />
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="0.02 0.29 0.69" />
			</geometry>
		</collision>
	</link>

	<gazebo reference="cabinet_right">
		<material>Gazebo/Grey</material>
	</gazebo>

	<joint name="joint_cabinet_right" type="fixed">
		<origin xyz="1.479 1.436 0.495" rpy="0 0 0" />
		<parent link="dummy_link" />
		<child link="cabinet_right" />
	</joint>

	<!-- cabinet_left -->
	<link name="cabinet_left">
		<inertial>
			<origin xyz="0 0 0" />
			<mass value="5.0" />
			<inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="0.02 0.29 0.69" />
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="0.02 0.29 0.69" />
			</geometry>
		</collision>
	</link>

	<gazebo reference="cabinet_left">
		<material>Gazebo/Grey</material>
	</gazebo>

	<joint name="joint_cabinet_left" type="fixed">
		<origin xyz="0.839 1.436 0.495" rpy="0 0 0" />
		<parent link="dummy_link" />
		<child link="cabinet_left" />
	</joint>

	<!-- cabinet_front_right -->
	<link name="cabinet_front_right">
		<inertial>
			<origin xyz="0 0 0" />
			<mass value="5.0" />
			<inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="0.04 0.04 0.84" />
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="0.04 0.04 0.84" />
			</geometry>
		</collision>
	</link>

	<gazebo reference="cabinet_front_right">
		<material>Gazebo/Grey</material>
	</gazebo>

	<joint name="joint_cabinet_front_right" type="fixed">
		<origin xyz="1.489 1.271 0.420" rpy="0 0 0" />
		<parent link="dummy_link" />
		<child link="cabinet_front_right" />
	</joint>

	<!-- cabinet_front_left -->
	<link name="cabinet_front_left">
		<inertial>
			<origin xyz="0 0 0" />
			<mass value="5.0" />
			<inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="0.04 0.04 0.84" />
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="0.04 0.04 0.84" />
			</geometry>
		</collision>
	</link>

	<gazebo reference="cabinet_front_left">
		<material>Gazebo/Grey</material>
	</gazebo>

	<joint name="joint_cabinet_front_left" type="fixed">
		<origin xyz="0.829 1.271 0.420" rpy="0 0 0" />
		<parent link="dummy_link" />
		<child link="cabinet_front_left" />
	</joint>

	<!-- cabinet_back_right -->
	<link name="cabinet_back_right">
		<inertial>
			<origin xyz="0 0 0" />
			<mass value="5.0" />
			<inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="0.04 0.04 0.84" />
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="0.04 0.04 0.84" />
			</geometry>
		</collision>
	</link>

	<gazebo reference="cabinet_back_right">
		<material>Gazebo/Grey</material>
	</gazebo>

	<joint name="joint_cabinet_back_right" type="fixed">
		<origin xyz="1.489 1.601 0.420" rpy="0 0 0" />
		<parent link="dummy_link" />
		<child link="cabinet_back_right" />
	</joint>

	<!-- cabinet_back_left -->
	<link name="cabinet_back_left">
		<inertial>
			<origin xyz="0 0 0" />
			<mass value="5.0" />
			<inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="0.04 0.04 0.84" />
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0" />
			<geometry>
				<box size="0.04 0.04 0.84" />
			</geometry>
		</collision>
	</link>

	<gazebo reference="cabinet_back_left">
		<material>Gazebo/Grey</material>
	</gazebo>

	<joint name="joint_cabinet_back_left" type="fixed">
		<origin xyz="0.829 1.601 0.420" rpy="0 0 0" />
		<parent link="dummy_link" />
		<child link="cabinet_back_left" />
	</joint>


</xacro:macro>  

<xacro:ipa-kitchen name="ipa-kitchen" />

</robot>

