<?xml version="1.0"?>
<launch>
  
  <!-- send pr2 urdf to param server -->
  <include file="$(find cob3_defs)/ros/launch/upload_LaserBlock.launch" />

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="pr2_spawn_gazebo_model" pkg="gazebo_tools" type="spawn_gazebo_model" args="robot_description" respawn="false" output="screen" />

</launch>

