<?xml version="1.0"?>
<launch>

	<rosparam file="$(find cob3_defs)/ros/controller/platform_controller.yaml" command="load"/>

	<node name="spawn_platform_controller" pkg="pr2_controller_manager" type="spawner" args="
		controller_platform_steerFL
		controller_steerFL_wheelFL
		controller_platform_steerFR
		controller_steerFR_wheelFR
		
		controller_platform_steerRL
		controller_steerRL_wheelRL
		controller_platform_steerRR
		controller_steerRR_wheelRR
		" respawn="false" output="screen" />
	
</launch>
