<?xml version="1.0"?>
<launch>

	<rosparam file="$(find cob3_defs)/ros/controller/sdh_controller.yaml" command="load"/>

	<node name="spawn_sdh_controller" pkg="pr2_controller_manager" type="spawner" args="
		controller_palm_finger11
		controller_finger11_finger12
		controller_finger12_finger13

		controller_palm_finger21 
		controller_finger21_finger22 
		controller_finger22_finger23
	
		controller_palm_thumb1 
		controller_thumb1_thumb2 
		controller_thumb2_thumb3
		" respawn="false" output="screen" />
	
</launch>
