<?xml version="1.0"?>
<launch>

	<rosparam file="$(find cob3_defs)/ros/controller/torso_controller.yaml" command="load"/>

	<node name="spawn_torso_controller" pkg="pr2_controller_manager" type="spawner" args="
		controller_platform_tray
		controller_platform_neckZ
		controller_neckZ_neck
		controller_neck_headZ
		controller_headZ_head
		controller_head_eyes
		
		controller_platform_steerFL
		controller_steerFL_wheelFL
		controller_platform_steerFR
		controller_steerFR_wheelFR
		controller_platform_steerRL
		controller_steerRL_wheelRL
		controller_platform_steerRR
		controller_steerRR_wheelRR
		" respawn="false" output="screen" />

</launch>
