<?xml version="1.0"?>
<launch>
    <!-- send pr2 urdf to param server -->
   <param name="robot_description" command="$(find xacro)/xacro.py '$(find cob3_defs)/ros/defs/LaserBlock.urdf'" />
 
 
  <!-- Controller Manager -->
  <include file="$(find pr2_controller_manager)/controller_manager.launch" />


</launch>
