<launch>
    <!-- send pr2 urdf to param server -->
  <!-- <param name="robot_description" command="$(find xacro)/xacro.py '$(find care_o_bot)/ipa_blocks/CameraOne/pr2urdfexpanded.urdf'" />-->
   <param name="robot_description" command="$(find xacro)/xacro.py '$(find cob3_defs)/ros/defs/CameraOne.urdf'" />
 
  <!-- Controller Manager -->
  <include file="$(find pr2_controller_manager)/controller_manager.launch" />


</launch>
