<?xml version="1.0"?>
<launch>

	<!-- launch empty world -->
	<param name="/use_sim_time" value="true" />
	<include file="$(find cob_gazebo)/ros/launch/cob_world.launch" />

	<!-- send arm urdf to param server -->
	<param name="robot_description" command="$(find xacro)/xacro.py '$(find cob_defs)/ros/robots/arm.urdf.xacro'" />

	<!-- push robot_description to factory and spawn robot in gazebo -->
	<node name="arm_urdf" pkg="gazebo_tools" type="gazebo_model" args="-z 0.051 -p robot_description spawn arm_model" respawn="false" />

	<!-- Robot state publisher -->
	<node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher">
		<param name="publish_frequency" type="double" value="50.0" />
		<param name="tf_prefix" type="string" value="" />
	</node>

	<!-- Controllers -->
	<include file="$(find cob_defs)/ros/launch/arm_controller.launch" />

<!--	<node pkg="rostopic" type="rostopic" name="fake_joint_calibration" args="pub /calibrated std_msgs/Bool true" /> -->

</launch>
