<?xml version="1.0"?>
<launch>

	<!-- launch empty world -->
	<include file="$(find cob3_gazebo)/ros/launch/cob3_world.launch" />

	<!-- send sdh urdf to param server -->
	<param name="robot_description" command="$(find xacro)/xacro.py '$(find cob3_defs)/ros/robots/cob3_torso.urdf.xacro'" />

	<!-- push robot_description to factory and spawn robot in gazebo -->
	<node name="torso_urdf" pkg="gazebo_tools" type="gazebo_model" args="-z 0.051 -p robot_description spawn torso_model" respawn="false" />

	<!-- Robot state publisher -->
	<node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher">
		<param name="publish_frequency" type="double" value="50.0" />
		<param name="tf_prefix" type="string" value="" />
	</node>

	<!-- Controllers -->
	<include file="$(find cob3_defs)/ros/launch/torso_controller.launch" />

</launch>
