<?xml version="1.0"?>
<launch>

	<!-- launch empty world -->
	<include file="$(find cob3_gazebo)/ros/launch/cob3_world.launch" />

	<!-- send cob3 urdf to param server -->
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find cob3_defs)/ros/robots/cob3_pr2base.urdf.xacro'" />

	<!-- push robot_description to factory and spawn robot in gazebo -->
	<node name="cob3_urdf" pkg="gazebo_tools" type="gazebo_model" args="-z 0.5 -p robot_description spawn cob3_model" respawn="false" />


	<!-- Controller Manager -->
	<include file="$(find pr2_controller_manager)/controller_manager.launch" />

	<!-- Default Controllers -->
	<include file="$(find pr2_controller_configuration_gazebo)/pr2_default_controllers.launch" />
	<node pkg="rostopic" type="rostopic" name="fake_joint_calibration" args="pub /calibrated std_msgs/Bool true" />

	<!-- diagnostics aggregator -->
	<node pkg="diagnostic_aggregator" type="aggregator_node" name="diag_agg" args="Robot" >
		<rosparam command="load" file="$(find pr2_gazebo)/controllers/diagnostic_aggregator.yaml" />
	</node>

</launch>
