<?xml version="1.0"?>
<launch>

  <!-- send cob3 urdf to param server -->
  <include file="$(find cob_description)/ros/robots/upload_robot_no_arm.launch" />

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="cob3_gazebo_model" pkg="gazebo_tools" type="gazebo_model" args="-z 0.1 -p robot_description spawn" respawn="false" output="screen" />

  <!-- Default Controllers -->
  <include file="$(find cob_controller_configuration_gazebo)/ros/launch/controller_manager.launch" />
  <include file="$(find cob_controller_configuration_gazebo)/ros/launch/base_controller.launch" />
  <include file="$(find cob_controller_configuration_gazebo)/ros/launch/torso_controller.launch" />
  <include file="$(find cob_controller_configuration_gazebo)/ros/launch/tray_controller.launch" />

</launch>
