<?xml version="1.0"?>
<launch>

  <!-- send cob3 urdf to param server -->
  <include file="$(find cob_description)/ros/robots/upload_robot.launch" />

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="spawn_gazebo_model" pkg="gazebo" type="spawn_model" args="-urdf -param robot_description -model cob3 -z 0.1 " respawn="false" output="screen" />

  <node name="fix_gazebo_pointcloud" pkg="cob_gazebo" type="fix_gazebo_pointcloud" respawn="false" output="screen">
    <remap from="full_cloud" to="cam3d/depth/points1"/>
    <remap from="full_cloud_fixed" to="cam3d/depth/points1_fixed"/>
  </node>
  <!-- convert from PointCloud1 to PointCloud2 -->
  <node name="point_cloud_converter_full_cloud" pkg="point_cloud_converter" type="point_cloud_converter" args="points_in:=cam3d/depth/points1_fixed points2_out:=cam3d/depth/points" respawn="false" output="screen" />

</launch>
