<?xml version="1.0"?>
<launch>

	<node pkg="rostopic" type="rostopic" name="reference_arm0_arm1" args="pub /controller_arm0_arm1/command std_msgs/Float64 0" />
	<node pkg="rostopic" type="rostopic" name="reference_arm1_arm2" args="pub /controller_arm1_arm2/command std_msgs/Float64 0.7854" /> <!-- 3.1416 1.5708 0.7854 -->
	<node pkg="rostopic" type="rostopic" name="reference_arm2_arm3" args="pub /controller_arm2_arm3/command std_msgs/Float64 0" />
	<node pkg="rostopic" type="rostopic" name="reference_arm3_arm4" args="pub /controller_arm3_arm4/command std_msgs/Float64 0.7854" />
	<node pkg="rostopic" type="rostopic" name="reference_arm4_arm5" args="pub /controller_arm4_arm5/command std_msgs/Float64 1.5708" />
	<node pkg="rostopic" type="rostopic" name="reference_arm5_arm6" args="pub /controller_arm5_arm6/command std_msgs/Float64 1.5708" />
	<node pkg="rostopic" type="rostopic" name="reference_arm6_arm7" args="pub /controller_arm6_arm7/command std_msgs/Float64 0" />

</launch>
