<?xml version="1.0"?>
<launch>

  <!-- send cob3 urdf to param server -->
  <include file="$(find cob_description)/ros/robots/upload_sdh.launch" />

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="spawn_gazebo_model" pkg="gazebo" type="spawn_model" args="-urdf -param robot_description -model sdh -z 0.1" respawn="false" output="screen" />

  <!-- controller manager -->  
  <include file="$(find cob_controller_configuration_gazebo)/ros/launch/controller_manager.launch" />

  <!-- sdh controllers -->
  <include file="$(find cob_controller_configuration_gazebo)/ros/launch/sdh_controller.launch" />

</launch>
