<robot name="simple_box">
  <link name="my_box">
    <inertial>
      <origin xyz="2 0 0" /> 
      <mass value="1.0" />
      <inertia  ixx="1.0" ixy="0.0"  ixz="0.0"  iyy="100.0"  iyz="0.0"  izz="1.0" />
    </inertial>
    <visual>
      <origin xyz="2 0 0"/>
      <geometry>
        <cylinder radius="0.029" length="0.172"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="2 0 0"/>
      <geometry>
        <cylinder radius="0.029" length="0.172"/>
      </geometry>
    </collision>
  </link>
  <gazebo reference="my_box">
    <material>Gazebo/Yellow</material>
  </gazebo>
</robot>
