<?xml version="1.0"?>

<model>
  <name>ReflMarker</name>
  <version>1.0</version>
  <sdf version="1.4">model-1_4.sdf</sdf>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Robin Dietrich (srd-rd)</name>
    <email>robindiet@gmail.com</email>
  </author>

  <description>
    A Reflector Marker with a high intensity value, recognizable by the feature laser extractor.
  </description>
</model>
