<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       name="LaserBlock">

<!-- Joint to world. Simply change the name and parent link when attaching to own robot -->
<joint name="camera_frame_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <parent link="world"/>
      <child link="camera_block"/>
    </joint>

<!--			 Laser body. Neglegibe geometry 			-->
<link name="camera_block">

      <inertial>
        <mass value="1.0" />
        <origin xyz="0 0 0" />
        <inertia ixx="0.1" ixy="0" ixz="0" iyy="0.1" iyz="0" izz="0.1" />
      </inertial>

      <visual>
        <origin xyz="0 0 0.05" rpy="0 0 0" />
        <geometry>
          <cylinder radius="0.1" length="0.1"/>
        </geometry>
        
      </visual>

      <collision>
        <origin xyz="0 0 0.05" rpy="0 0 0" />
        <geometry>
           <cylinder radius="0.1" length="0.1"/>
        </geometry>
      </collision >
      </link>
      
      
<!--			Basic controller manager, need to write own to eliminate errors 	-->
    <gazebo>
    <controller:gazebo_ros_controller_manager name="gazebo_ros_controller_manager" plugin="libgazebo_ros_controller_manager.so">
      <alwaysOn>true</alwaysOn>
      <updateRate>1000.0</updateRate>
      <interface:audio name="gazebo_ros_controller_manager_dummy_iface"/>
    </controller:gazebo_ros_controller_manager>
    </gazebo>

<!-- 			Actual camera		 -->
<!-- copied from wide_stereo_r_stereo_camera_frame" -->

<gazebo reference="camera_block">
      <sensor:camera name="camera_one">
        <imageSize>640.0 480.0</imageSize>
        <imageFormat>B8G8R8</imageFormat>
        <hfov>90.0</hfov>
        <nearClip>0.1</nearClip>
        <farClip>100</farClip>
        <updateRate>20.0</updateRate>
        <controller:gazebo_ros_camera name="wide_stereo_r_stereo_camera_controller" plugin="libgazebo_ros_camera.so">
          <alwaysOn>true</alwaysOn>
          <updateRate>25.0</updateRate>
          <topicName>image_data</topicName>
          <imageTopicName>cameraone/one/image_raw</imageTopicName>
          <cameraInfoTopicName>cameraone/one/camera_info</cameraInfoTopicName>
          <frameName>camera_fame_joint</frameName>
          <CxPrime>320.5</CxPrime>
          <Cx>320.5</Cx>
          <Cy>240.5</Cy>
          <!-- image_width / (2*tan(hfov_radian /2)) -->
          <!-- 320 for wide and 772.55 for narrow stereo camera -->
          <focal_length>320.0</focal_length>
          <distortion_k1>0</distortion_k1>
          <distortion_k2>0</distortion_k2>
          <distortion_k3>0</distortion_k3>
          <distortion_t1>0</distortion_t1>
          <distortion_t2>0</distortion_t2>
          <interface:camera name="camera_iface"/>
        </controller:gazebo_ros_camera>
      </sensor:camera>
      <turnGravityOff>true</turnGravityOff>
    </gazebo>
 
</robot>

