<?xml version="1.0"?>
<robot name="gazebo"
	xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
	xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
	xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface">

	<!-- load gazebo controllers -->
	<gazebo>
		<controller:gazebo_ros_time name="gazebo_ros_time" plugin="libgazebo_ros_time.so">
			<alwaysOn>true</alwaysOn>
			<updateRate>100.0</updateRate>
			<interface:audio name="dummy_gazebo_ros_time_iface_should_not_be_here"/>
		</controller:gazebo_ros_time>
      
		<controller:gazebo_ros_controller_manager name="gazebo_ros_controller_manager" plugin="libgazebo_ros_controller_manager.so">
			<alwaysOn>true</alwaysOn>
			<updateRate>1000.0</updateRate>
			<interface:audio name="gazebo_ros_controller_manager_dummy_iface"/>
		</controller:gazebo_ros_controller_manager>
	</gazebo>

	<!-- define global prpperties -->
	<property name="M_PI" value="3.1415926535897931" />

</robot>
