<?xml version="1.0"?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface">

  <macro name="pr2_wheel_transmission" params="suffix parent reflect">
    <transmission type="SimpleTransmission" name="${parent}_${suffix}_wheel_trans">
      <actuator name="${parent}_${suffix}_wheel_motor" />
      <joint name="${parent}_${suffix}_wheel_joint" />
      <mechanicalReduction>${reflect * 624/35 * 80/19}</mechanicalReduction>
    </transmission>
  </macro>

  <macro name="pr2_caster_transmission" params="suffix">
    <transmission type="SimpleTransmission" name="${suffix}_caster_rotation_trans">
      <actuator name="${suffix}_caster_rotation_motor" />
      <joint name="${suffix}_caster_rotation_joint" />
      <mechanicalReduction>${-1 * 624/35 * 80/19}</mechanicalReduction>
    </transmission>
  </macro>


</robot>
