<?xml version="1.0"?>
<launch>

	<!-- send bookcase urdf to param server -->
	<param name="bookcase_description" command="$(find xacro)/xacro.py $(find cob_gazebo_worlds)/objects/bookcase.urdf.xacro" />

	<!-- push bookcase_description to factory and spawn robot in gazebo -->
	<node name="spawn_bookcase" pkg="gazebo" type="spawn_model" args="-urdf -param bookcase_description -x 1.2 -y -1.9 -z 0.01 -R 0 -P 0 -Y -1.57079 -model bookcase_model" respawn="false" output="screen" />

</launch> 
