<?xml version="1.0"?>
<launch>

	<!-- send cup to param server -->
	<param name="china_cup" textfile="$(find gazebo_worlds)/objects/china_cup.model" />

	<!-- spawn model in gazebo -->
	<node name="spawn_china_cup" pkg="gazebo" type="spawn_model" args="-gazebo -param china_cup -x -3.2 -y -0.0 -z .98  -R 0 -P 0 -Y 1.5708 -model china_cup" respawn="false" output="screen" />
</launch>
