<?xml version="1.0"?>
<launch>

	<!-- send cup to param server -->
	<param name="milk" textfile="$(find cob_gazebo_worlds)/objects/milk_box.urdf" />

	<!-- spawn model in gazebo -->
	<node name="spawn_milk_box" pkg="gazebo" type="spawn_model" args="-urdf -param milk -x 0.5 -y -1.15 -z 1.1 -R 0 -P 0 -Y 0 -model milk" respawn="false" output="screen" />

</launch>
