<?xml version="1.0"?>
<launch>

	<!-- start empty gazebo world -->
	<include file="$(find cob_gazebo_worlds)/ros/launch/empty-world.launch" />

	<!-- add png world-->
	<param name="png_world" textfile="$(find cob_gazebo_worlds)/common/worlds/$(env ROBOT_ENV).model" />
	<node name="spawn_png_world" pkg="gazebo" type="spawn_model" args="-gazebo -param png_world -x -28.75 -y -22.75 -model png_world_model" respawn="false" output="screen" />

</launch>
