<?xml version="1.0"?>
<launch>

	<!-- define arguments -->
	<arg name="pkg_robot_config" default="$(find cob_default_robot_config)"/>
	<arg name="pkg_env_config" default="$(find cob_default_env_config)"/>

	<!-- upload default configuration parameters -->
	<include file="$(arg pkg_robot_config)/upload_param.launch"/>
	<include file="$(arg pkg_env_config)/upload_param.launch"/>

	<!-- include files -->
	<include file="$(find cob_bringup_sim)/launch/robot.xml" />

</launch>
