<?xml version="1.0"?>
<robot name="pr2">

  <!-- Include file with calibration parameters -->
  <include filename="$(find pr2_defs)/calibration/default_cal.xml" />

	<!--  <include filename="$(find pr2_defs)/defs/head/head_defs.urdf.xacro" />
	<include filename="$(find pr2_defs)/defs/body/body_defs.urdf.xacro" /> -->
	<include filename="$(find cob3_defs)/ros/defs/pr2base.urdf.xacro" />
	<include filename="$(find cob3_defs)/ros/defs/gazebo.urdf" />
	<include filename="$(find pr2_defs)/defs/materials.urdf.xacro" />

	<pr2_base name="base"/>

</robot>
