<?xml version="1.0"?>
<robot name="cob3"
	xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
	xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
	xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface">

	<!-- include gazebo defs-->
	<include filename="$(find cob3_defs)/ros/defs/gazebo.urdf" />

	<!-- create joint to world -->
	<joint name="joint_world_platform" type="fixed">
		<origin xyz="0 0 0" rpy="0 0 0" />
		<parent link="world"/>
		<child link="link_platform"/>
	</joint>
	
	<!-- include torso defs-->
	<include filename="$(find cob3_defs)/ros/defs/torso.urdf" />
	
	<!-- include sensor defs-->
	<include filename="$(find cob3_defs)/ros/defs/torso_sensors.urdf" />

	<!-- include arm defs-->
	<include filename="$(find cob3_defs)/ros/defs/arm.urdf" />

	<joint name="joint_platform_arm0" type="fixed">
		<origin xyz="0 0 0.8" rpy="0.5 0 -0.5" /> <!-- TODO: put in real transformation from platform to arm0-->
		<parent link="link_platform"/>
		<child link="link_arm0"/>
	</joint>

	<!-- include sdh defs-->
	<include filename="$(find cob3_defs)/ros/defs/sdh.urdf" />

  	<joint name="joint_arm7_palm" type="fixed">
		<origin xyz="0 0 0.1126" rpy="0 0 0" />
		<parent link="link_arm7"/>
		<child link="link_palm"/>
	</joint>
	
</robot>
