<?xml version="1.0"?>
<robot name="cob3_platform"
	xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
	xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
	xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface">

	<!-- include gazebo defs-->
	<include filename="$(find cob3_defs)/ros/defs/gazebo.urdf" />
	
	<!-- create joint to world -->
<!--	<joint name="joint_world_platform" type="floating">
		<origin xyz="0 0 0" rpy="0 0 0" />
		<parent link="world"/>
		<child link="fl_caster_l_wheel_link"/>
	</joint>
-->
	<!-- include torso defs-->
	<include filename="$(find cob3_defs)/ros/defs/platform.urdf" />

</robot>
